<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/signin.css" />
    <title>KDRU | Students</title>
  </head>
  <body>
    <div class="login-container">
      <form
        action="/auth/signin"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <h2>LOGIN</h2>
        <div class="input-group">
          <label for="name">Name</label>
          <input type="text" placeholder="Really Great Site" name="userName" />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="**********"
            name="password"
          />
        </div>
        <a href="#" class="forgot-password">Forgot Password?</a>
        <button class="login-btn">LOGIN</button>
      </form>
    </div>
  </body>
</html>
